<div class="container">
  <div class="col s12">
    <div class="row">
      <h2>Nuevo Local</h2>
      <%= render 'form', food: @food %>

      <%= link_to 'Volver', foods_path %>
    </div>
  </div>
</div>
